
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');  
/* ---break---             */
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: 'Space Grotesk', ui-sans-serif, system-ui, sans-serif;
  --font-heading: var(--font-sans);

  --color-matcha: var(--matcha-color);
  --color-koi: var(--koi-color);
  --color-picture: var(--picture-color);
  --color-sky: var(--sky-color);
  --color-link: var(--link-color);
  --color-heading: var(--heading-color);
  --color-heading-hover: var(--heading-color-hover);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-chat-bg: var(--chat-bg);
  --color-chat-hover: var(--chat-hover);
  --color-chat-text: var(--chat-text);
  --color-chat-text-strong: var(--chat-text-strong);
  --color-chat-border: var(--chat-border);

  --animate-blink: blink 3s linear infinite;
  @keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }
}

@layer base {
  :root {
    --background: oklch(1 0 0);         
    --foreground: #0a0a0a;  
    /* --foreground-strong: #0a0a0a;             */

    --card: #1c1c1c;                    
    --card-foreground: #0a0a0a;

    --popover: oklch(1 0 0);
    --popover-foreground: #0a0a0a;

    --primary: #82c0fa;                 
    --primary-foreground: oklch(0.985 0 0);

    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);

    --muted: oklch(0.7 0 0);
    --muted-foreground: oklch(0.556 0 0);

    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);

    --destructive: oklch(0.577 0.245 27.325);

    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);

    --radius: 0.625rem;

    --heading-color: #1c1c1c;
    --heading-color-hover: #333333;
    --matcha-color: #90a955;
    --koi-color: #ce5a57;
    --picture-color: #1c1e21;
    --sky-color: #82c0fa;
    --link-color: #6ab0f3;

    /* Kommentare: */
    --chat-bg: #f3f4f6;          /* Buttons */
    --chat-hover: #e5e7eb;       /* Hovern */
    --chat-text: #6b7280;        /* Icons/Datum */
    --chat-text-strong: #0a0a0a; /* Autorenname */
    --chat-border: #e5e7eb;
  }

  .dark {

    --background: oklch(0.141 0.005 285.823);
    --foreground: #fafafa;  
    /* --foreground-strong: #fafafa; */

    --card: #1f1f1f;                        
    --card-foreground: #fafafa;

    --popover: #1f1f1f;
    --popover-foreground: #fafafa;

    --primary: rgb(243 243 243);              
    --primary-foreground: oklch(0.205 0 0);

    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);

    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);

    --accent: rgb(243 243 243);
    --accent-foreground: oklch(0.205 0 0);

    --destructive: oklch(0.704 0.191 22.216);

    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);

    --heading-color: #e7dfd1;
    --heading-color-hover: #d4c6ac;
    --matcha-color: #90a955;
    --koi-color: #e46f68;
    --picture-color: #e5e7eb;
    --sky-color: #82c0fa;
    --link-color: #6ab0f3;

    --chat-bg: #27272a;         
    --chat-hover: #3f3f46;       
    --chat-text: #a1a1aa;        
    --chat-text-strong: #fafafa; 
    --chat-border: #3f3f46;      
  }
}

@layer components {
  .glass3d {
    --filter-glass3d: blur(10px) brightness(0.8) saturate(1.9);
    --color-glass3d: hsl(169 12% 10% / 0.2);
    --noise-glass3d: url('https://www.transparenttextures.com/patterns/fabric-1-light.png');

    position: relative;
    z-index: 4;
    box-shadow:
      0 0 0.75px hsl(205 20% 10% / 0.2),
      0.7px 0.8px 1.2px -0.4px hsl(205 20% 10% / 0.1),
      1.3px 1.5px 2.2px -0.8px hsl(205 20% 10% / 0.1),
      2.3px 2.6px 3.9px -1.2px hsl(205 20% 10% / 0.1),
      3.9px 4.4px 6.6px -1.7px hsl(205 20% 10% / 0.1),
      6.5px 7.2px 10.9px -2.1px hsl(205 20% 10% / 0.1),
      8px 9px 14px -2.5px hsl(205 20% 10% / 0.2);
  }

  .glass3d::before {
    content: '';
    position: absolute;
    inset: 0;
    pointer-events: none;
    border-radius: inherit; /* Wichtig: Übernimmt das border-radius vom Parent! */
    overflow: hidden;
    z-index: 3;

    -webkit-backdrop-filter: var(--filter-glass3d);
    backdrop-filter: var(--filter-glass3d);
    background-color: var(--color-glass3d);
    background-image: var(--noise-glass3d);
    background-size: 100px;
    background-repeat: repeat;
  }

  .glass3d::after {
    content: '';
    position: absolute;
    inset: 0;
    pointer-events: none;
    border-radius: inherit;
    overflow: hidden;
    z-index: 5;

    box-shadow:
      inset 2px 2px 1px -3px hsl(205 20% 90% / 0.8),
      inset 4px 4px 2px -6px hsl(205 20% 90% / 0.3),
      inset 1.5px 1.5px 1.5px -0.75px hsl(205 20% 90% / 0.15),
      inset 1.5px 1.5px 0.25px hsl(205 20% 90% / 0.03),
      inset 0 0 0.25px 0.5px hsl(205 20% 90% / 0.03);
  }

  .glass3d > * {
    position: relative;
    z-index: 6;
  }

}

@layer base {
  * {
    @apply border-border outline-ring/50;

  }
  body {
    @apply bg-background text-foreground;

  }

}
